<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css" />

    <title>404 Not Found</title>

    <style>
      .main {
        min-height: 100vh;
      }
    </style>
  </head>
  <body>
    <div class="d-flex justify-content-center align-items-center main">
      <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
      <div class="inline-block align-middle">
        <h2 class="font-weight-normal lead" id="desc">Halaman yang anda kunjungi tidak ditemukan.</h2>
      </div>
    </div>
    <script src="../../public/js/jquery.slim.min.js" ></script>
    <script src="../../public/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
