<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css" />

    <title><%= title %></title>
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Judul</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#webNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="webNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Panel 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Panel 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Panel 3</a>
        </li>
      </ul>
    </div>
  </nav>
  <body>